<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/WEB-INF/jsp/Login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.loginServlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.loginServlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
<!--=========================================================================-->
    <servlet>
        <servlet-name>main</servlet-name>
        <jsp-file>/WEB-INF/jsp/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
<!--=========================================================================-->
    <servlet>
        <servlet-name>AddDocumentServlet</servlet-name>
        <servlet-class>servlets.documentServlet.AddDocumentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDocumentServlet</servlet-name>
        <url-pattern>/Document</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDocument</servlet-name>
        <jsp-file>/WEB-INF/jsp/AddDocument.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDocument</servlet-name>
        <url-pattern>/AddDocument</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllDocuments</servlet-name>
        <servlet-class>servlets.documentServlet.GetAllDocumentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllDocuments</servlet-name>
        <url-pattern>/GetAllDocuments</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteDocument</servlet-name>
        <servlet-class>servlets.documentServlet.DeleteDocumentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDocument</servlet-name>
        <url-pattern>/DeleteDocument</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllDocuments</servlet-name>
        <jsp-file>/WEB-INF/jsp/AllDocuments.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllDocuments</servlet-name>
        <url-pattern>/AllDocuments</url-pattern>
    </servlet-mapping>
<!--=========================================================================-->
    <servlet>
        <servlet-name>Versions</servlet-name>
        <servlet-class>servlets.versionServlet.GetVersionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Versions</servlet-name>
        <url-pattern>/Versions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllVersions</servlet-name>
        <jsp-file>/WEB-INF/jsp/VersionsOfDocument.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllVersions</servlet-name>
        <url-pattern>/AllVersions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/ErrorPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/ErrorPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteVersion</servlet-name>
        <servlet-class>servlets.versionServlet.DeleteVersionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteVersion</servlet-name>
        <url-pattern>/DeleteVersion</url-pattern>
    </servlet-mapping>
<!--=========================================================================-->

    <filter>
        <filter-name>ExceptionalFilter</filter-name>
        <filter-class>
            filters.ExceptionalFilter
        </filter-class>
        <init-param>
            <param-name>error-page</param-name>
            <param-value>/ErrorPage</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ExceptionalFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>login_page</param-name>
        <param-value>/Login</param-value>
    </context-param>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
