<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/WEB-INF/jsp/Login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDocumentServlet</servlet-name>
        <servlet-class>servlets.documentServlet.AddDocumentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDocumentServlet</servlet-name>
        <url-pattern>/Document</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDocument</servlet-name>
        <jsp-file>/WEB-INF/jsp/AddDocument.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDocument</servlet-name>
        <url-pattern>/AddDocument</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllDocuments</servlet-name>
        <servlet-class>servlets.documentServlet.GetAllDocumentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllDocuments</servlet-name>
        <url-pattern>/GetAllDocuments</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllDocuments</servlet-name>
        <jsp-file>/WEB-INF/jsp/AllDocuments.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllDocuments</servlet-name>
        <url-pattern>/AllDocuments</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/ErrorPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/ErrorPage</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ExceptionalFilter</filter-name>
        <filter-class>
            filters.ExceptionalFilter
        </filter-class>
        <init-param>
            <param-name>error-page</param-name>
            <param-value>/ErrorPage</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ExceptionalFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
